body{
    font-family: "poppins"fantasy;
    background-image: url("https://www.123ppt.com/powerpoint_background/finance/bk_finance_000001_blue_display.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 40%;
    background-position: center;
    background-size: cover;
    
    }
    
    .container{
    text-align: center;
    margin-top:25px
}

table{
    margin: auto;
}

input{
    border-radius: 21px;
    border: 5px solid #244624;
    font-size:34px;
    height: 40px;
    width: 306px;
}

button{
    border-radius: 20px;
    font-size: 30px;
    background: grey;
    width: 80px;
    height: 70px;
    margin: 6px;
}

.calculator{ 
    border: 4px solid grey;
    background-color: black;
    padding: 20px;
    border-radius: 53px;
    display: inline-block;
    
}

h1{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
